@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: url(../asset/imagenes-vt/imagenvt.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 50vh;




}


/*  css del nav */


.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;


}

.logo-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;


}

.nav-principal {
    font-family: "Roboto", sans-serif;
    display: flex;
    width: 195px;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2d0;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}

/*  css del nav 2 */

.logo-menu-1 {
    margin: 10px;
    display: flex;
    background-color: #e2e2e2d0;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;


}

.logo-menu-1 img {
    border-radius: 8px;

}

.logo-texto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 10px;
    padding: 10px;

}


/*  css de los botones */



.button-nav-inicio {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 40px;
    gap: 10px;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button-nav-recientes {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 10px;
    gap: 10px;
    white-space: nowrap;
}

.button-nav-populares {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 10px;
    gap: 10px;
    white-space: nowrap;
}

.button-nav-short {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 10px;
    gap: 10px;
    white-space: nowrap;
}

.button-nav-gameplay {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 10px;
    gap: 10px;
    white-space: nowrap;
}


.button-nav-contactos {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 10px;
    gap: 10px;
    white-space: nowrap;
}

.button-nav-help {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    max-width: 170px;
    padding-left: 40px;
    gap: 10px;
    margin-top: 220px;
}


/* css de los titulos */

.titulo-superior {
    display: flex;
    position: center;
    justify-content: center;
    color: #3f2929;
    border: 10px;
    margin: 10px;
    padding: 10px 10px 10px 120px;
}



.titulo-superior h1 {

    animation: moverSombra 3s infinite;

}

@keyframes moverSombra {
    0% {
        text-shadow: 2px 2px 5px #aaaaaa;
    }

    25% {
        text-shadow: 5px 5px 10px #888888;
    }

    50% {
        text-shadow: 10px 10px 20px #666666;
    }

    75% {
        text-shadow: 5px 5px 10px #888888;
    }

    100% {
        text-shadow: 2px 2px 5px #aaaaaa;
    }
}


/* css de la barra de busqueda */

.buscar-prueba {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 13px;
    padding: 10px;
    position: absolute;
    width: auto;
    right: 0;
    border-radius: 5px;


}

.buscar-prueba input {
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.buscar-prueba button {
    background-color: #faf9f9db;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}



/*  De las imagenes del index */

.main-container-index {
    display: flex;
    width: 100%;


}


.imagenes-index {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.imagenes-index img {
    margin: 30px;
    width: 240px;
    margin-bottom: 9px;
    transform: rotate(-40deg);
    animation: shake 3.5s infinite;
}



/*  css de la galeria de videos */

.video-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    padding: 6.25rem;


}

.video-gallery img {
    display: flex;
    width: 100%;
    /* Los videos se ajustan al ancho disponible del contenedor */
    max-width: 600px;
    /* Limita el tama침o m치ximo de los videos */
    gap: 10px;
    border-radius: 10px;

}

.video-gallery2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 20px;

}



@keyframes shake {
    0% {
        transform: rotate(-40deg) translateX(0);
    }

    25% {
        transform: rotate(-40deg) translateX(-10px);
    }

    50% {
        transform: rotate(-40deg) translateX(10px);
    }

    75% {
        transform: rotate(-40deg) translateX(-10px);
    }

    100% {
        transform: rotate(-40deg) translateX(0);
    }
}





/*  css de los botones de enlaces */


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;


}

.button-enlaces {
    background-color: #faf9f9db;
    border: none;
    color: rgb(2, 2, 2);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


/* css del short */

/* Contenedor principal que agrupa videos y texto */
.short-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Contenedor de videos */
.video-short {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para los videos */
.video-short video {
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    /
}

/* Estilos para el texto */
.texto-short {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #faf9f9db;
    color: #000000;
    padding: 40px;
    border-radius: 20px;
    flex-grow: 1;
    /* El texto crecer치 para llenar el espacio disponible */
    box-sizing: border-box;
    /* Asegura que el padding no rompa el layout */
}

/* css del contacto */

.main-contactos {
    display: flex;
    flex-direction: column;
    background-color: #faf9f9db;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 70px;
    max-width: 800px;
    border-radius: 10px;


}

.redes-sociales {
    display: flex;
    gap: 10px;
    align-items: center;
}



/* css del footer */

.footer {

    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0;
    width: 97%;


}

.footer-copyright h4 {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #010000;
    border: 10px;
    margin: 10px;
    padding: 10px
}

.footer-redes a {
    text-decoration: none;
    transition: all 1s ease;
}

.footer-redes a:hover {
    color: #6806a0;
    padding-left: 6px;

}


/*  css de iconos de Media */

.icono-media {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.icono-media2 {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}



/*  de MEDIA QUERIES */




@media (max-width: 768px) {



    .titulo-superior h1 {

        display: flex;
        font-size: 23px;

    }

    .button-nav-inicio {
        padding: 10.5px 42px;
        margin: 2.8px 1.4px;
        font-size: 11.2px;
        border-radius: 5.6px;
        max-width: 119px;
        padding-left: 28px;
        gap: 7px;


    }


    .button-nav-recientes,
    .button-nav-populares,
    .button-nav-short,
    .button-nav-gameplay,
    .button-nav-contactos {
        padding: 10.5px 42px;
        margin: 2.8px 1.4px;
        font-size: 9.2px;
        border-radius: 5.6px;
        max-width: 119px;
        padding-left: 7px;
        gap: 7px;
    }

    .button-nav-help {
        font-size: 9.2px;
        border-radius: 5.6px;
        max-width: 119px;
        padding-left: 7px;
        gap: 7px;
        padding: 10.5px 42px;
    }

    .button-nav-help {
        margin-top: 154px;
    }


    .main-container {
        gap: 14px;
    }

    .logo-menu {
        width: 140px;
    }

    .nav-principal {
        width: 136.5px;
        padding: 7px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    /* css del nav 2 */
    .logo-menu-1 {
        margin: 7px;
        border-radius: 14px;
    }

    .logo-menu-1 img {
        border-radius: 5.6px;
    }


    .logo {
        margin-right: 7px;
        padding: 7px;
    }



    .menu-texto {
        font-size: 9px;
    }

    .buscar-prueba {
        padding: 3px;
        border-radius: 1.5px;
    }

    .buscar-prueba input {
        padding: 1.8px 3px;
        width: 110px;
        border-radius: 2.4px;
    }

    .buscar-prueba button {
        background-color: #faf9f9db;
        padding: 1.8px 3px;
        border-radius: 2.4px;
    }

    /* De las im치genes del index */


    .imagenes-index {
        padding: 14px;
        margin-top: 30px;
    }

    .imagenes-index img {
        margin: 9px;
        width: 168px;
        margin-bottom: 2.7px;

    }


    /* Contenedor de videos */
    .video-short {
        display: flex;
        flex-direction: row;
        gap: 21px;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Estilos para los videos */
    .video-short video {
        width: 100px;
        height: auto;
        padding: 7px;
        border-radius: 7px;
    }

    .texto-short {
        max-width: 50%;
        padding: 10px;
        border-radius: 20px;
        flex-grow: 1;
        font-size: 10px;

    }

    .main-contactos {
        display: flex;
        flex-direction: column;
        background-color: #faf9f9db;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        padding: 35px;
        max-width: 400px;
        border-radius: 5px;
    }



}



@media (max-width: 600px) {

    .titulo-superior h1 {
        display: flex;
        font-size: 13px;

    }


    .buscar-prueba {
        padding: 2px;
        border-radius: 1px;
    }

    .buscar-prueba input {
        display: none;
        padding: 1.2px 2px;

    }

    .buscar-prueba button {
        padding: 1.2px 2px;
        border-radius: 1.6px;
    }


    /* Estilos para los videos */
    .video-short video {
        width: 60px;
        height: auto;
        padding: 7px;
        border-radius: 7px;
    }

    .texto-short {
        max-width: 80%;
        padding: 10px;
        border-radius: 20px;
        flex-grow: 1;
        font-size: 6px;

    }

    .video-gallery {
        flex-direction: column;
        padding: 5px;
        width: 100%;
        gap: 10px;
    }

    .video-gallery img {
        width: 100%;
        max-width: 300px;
        gap: 5px;
        border-radius: 5px;
    }

    .video-gallery2 {
        flex-direction: column;
        padding: 5px;
        width: 100%;
        gap: 10px;
    }

    .main-contactos {
        display: flex;
        font-size: 10px;
        flex-direction: column;
        background-color: #faf9f9db;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        padding: 35px;
        max-width: 200px;
        border-radius: 5px;
    }

    .redes-sociales {
        font-size: 6px;
        display: flex;
        gap: 5px;
        align-items: center;
    }




}