// _variables.scss
$colores: (
    "primario": #3f2929,
    "secundario": rgb(16, 16, 16),
    "terciario": red
);

$colores-help: (
    "primario": #0fdc01,
    "secundario": rgb(16, 16, 16),
    "terciario": red
);

$colores-nav-boton: (
    "primario": #3b7ddd,
    "secundario": rgb(16, 16, 16),
    "terciario": #dd3b3b
);