// Variables
$titulo-color: map-get($colores, "primario");
$titulo-margin: 20px 60px 10px 10px;
$animation-duration: 3s;
$animation-interval: 3.5s;
$image-width: 240px;

.titulo-superior {
    display: flex;
    position: center;
    justify-content: center;
    color: $titulo-color;
    border: 10px;
    margin: $titulo-margin;
    margin-left: 15%;
    h1 {
        animation: moverSombra $animation-duration infinite;
    }
}

@keyframes moverSombra {
    0% {
        text-shadow: 2px 2px 5px #aaaaaa;
    }

    25% {
        text-shadow: 5px 5px 10px #888888;
    }

    50% {
        text-shadow: 10px 10px 20px #666666;
    }

    75% {
        text-shadow: 5px 5px 10px #888888;
    }

    100% {
        text-shadow: 2px 2px 5px #aaaaaa;
    }
}

.main-container-index {
    display: flex;
    width: 100%;
}

.imagenes-index {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        margin: 30px;
        width: $image-width;
        margin-bottom: 9px;
        transform: rotate(-40deg);
        animation: shake $animation-interval infinite;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-40deg) translateX(0);
    }

    25% {
        transform: rotate(-40deg) translateX(-10px);
    }

    50% {
        transform: rotate(-40deg) translateX(10px);
    }

    75% {
        transform: rotate(-40deg) translateX(-10px);
    }

    100% {
        transform: rotate(-40deg) translateX(0);
    }
}