
$button-bg-color: #faf9f9db;
$button-text-color: rgb(2, 2, 2);
$button-padding: 15px 32px;
$button-margin: 4px 2px;
$button-border-radius: 8px;
$input-padding: 1.8px 3px;
$input-width: 150px;
$input-border-radius: 5px;

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.button-enlaces {
    background-color: $button-bg-color;
    border: none;
    color: $button-text-color;
    padding: $button-padding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: $button-margin;
    cursor: pointer;
    border-radius: $button-border-radius;
}

.button-enlaces1 {
    @extend .button-enlaces;
}

.buscar-prueba {
    input {
        padding: $input-padding;
        width: $input-width;
        border-radius: $input-border-radius;
    }
}