
$contact-bg-color: #faf9f9db;
$contact-gap: 20px;
$contact-padding: 70px;
$contact-max-width: 800px;
$contact-border-radius: 10px;
$redes-gap: 10px;

.main-contactos {
    display: flex;
    flex-direction: column;
    background-color: $contact-bg-color;
    gap: $contact-gap;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: $contact-padding;
    max-width: $contact-max-width;
    border-radius: $contact-border-radius;
}

.redes-sociales {
    display: flex;
    gap: $redes-gap;
    align-items: center;
}