/* css del footer */

$footer-background-color: #faf9f9db;
$footer-hover-color: #6806a0;
$footer-font-size: 13px;
$footer-padding: 10px;


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $footer-padding;
    background-color: $footer-background-color;

    &-copyright {
        h4 {
            font-family: "Roboto", sans-serif;
            font-size: $footer-font-size;
            color: map-get($colores, "primario");
            margin: 5px;
            padding: 5px;
        }
    }

    &-redes {
        a {
            text-decoration: none;
            transition: all 1s ease;
            &:hover {
                color: $footer-hover-color;
                padding-left: 6px;
            }
        }
    }
}