
$short-gap: 30px;
$short-padding: 20px;
$video-width: 250px;
$video-padding: 10px;
$video-border-radius: 10px;
$texto-bg-color: #faf9f9db;
$texto-color: #000000;
$texto-padding: 40px;
$texto-border-radius: 20px;

.short-container {
    display: flex;
    flex-wrap: wrap;
    gap: $short-gap;
    justify-content: center;
    align-items: center;
    padding: $short-padding;
}

.video-short {
    display: flex;
    flex-direction: row;
    gap: $short-gap;
    justify-content: center;
    flex-wrap: wrap;

    video {
        width: $video-width;
        height: auto;
        padding: $video-padding;
        border-radius: $video-border-radius;
    }
}

.texto-short {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: $texto-bg-color;
    color: $texto-color;
    padding: $texto-padding;
    border-radius: $texto-border-radius;
    flex-grow: 1;
    box-sizing: border-box;
}